      .image {
      width: 100%;
     }



     .channel-picture {
      display: inline-block;
      width: 50px;
      vertical-align: top;
     }

     .video-info {
      display: inline-block;
      width: 200px;
     }

     .profile-picture {
      width: 36px;
      border-radius: 50px;
     }

     .video-title {
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
     }

     .video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
     }

     .voice-search-button {
      position: relative;
     }
/* 
     .voice-search-button .tooltip {
      position: absolute;
      opacity: 0;
      font-family: Roboto, Arial;
      font-size: 12px;
      background-color: gray;
      color: white;
     }

     .voice-search-button:hover .tooltip {
      opacity: 1; 
     } */

     .thumbnail-row {
      margin-bottom: 8px;
      position: relative;
     }

     .video-time {
      background-color: black;
      color:white;
      position: absolute;
      bottom: 8px;
      right: 5px;
      font-family: Roboto, Arial;
      font-size: 12px;
      font-weight: 500;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;
     }

     

     .video-author {
      font-size: 12px;
      color: rgb(96, 96, 96);
      margin-bottom: 6px;
     }

     .video-stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
     }
